<p>Wie selten ist diese Karte?</p>
<div *ngFor="let answer of answers">
  <div class="answer" *ngIf="answer.correct == true">
    <ion-button (click)="validate(answer)" type="button" size="block" color="primary">{{answer.rarity}}</ion-button>
  </div>
  <div class="answer" *ngIf="answer.correct == false"
       [@fadeOutRightBig]="showSolution"
       (@fadeOutRightBig.done)="onAnimationEvent($event, answer)"
       [ngClass]="answer.hide ? 'hide' : ''">
    <ion-button (click)="validate(answer)" type="button" size="block" color="primary">{{answer.rarity}}</ion-button>
  </div>
</div>
