<p>Wie selten ist diese Karte?</p>
<div *ngFor="let answer of answers">
  <ion-button *ngIf="answer.correct == true"
              [ngClass]="isAnswerSelected(answer) ? ' glow' : ''"
              (click)="selectAnswer(answer)"
              type="button" size="block" color="light" fill="solid">
    {{answer.value}}
  </ion-button>

  <ion-button *ngIf="answer.correct == false"
              [@fadeOutRightBig]="showSolution"
              (@fadeOutRightBig.done)="onAnimationEvent($event, answer)"
              (click)="selectAnswer(answer)" type="button" size="block" color="primary"
              [ngClass]="{'glow': isAnswerSelected(answer), 'hide': answer.hide}"
              type="button" size="block" color="light" fill="solid">
    {{answer.value}}
  </ion-button>
</div>
<ion-button size="block" (click)="validate($event)">OK</ion-button>
