.cmc-segment, .color-segment, .type-segment, .rarity-segment {
  padding: 0 16px 0 16px;
}

.cmc-segment {
  flex-wrap: wrap;
}

.color-segment img {
  width: 24px;
}

.rarity-segment {
  flex-wrap: wrap;
}

.rarity-segment > * {
  flex: 0 0 100px;
}


