@media only screen and (min-width: 480px) {
  .container {
    position: relative;
    width: 480px;
    height: 680px;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    position: relative;
    // keep aspect of 480:680 -> 1:1.41666
    width: 100%;
    padding-top: 141.6666%;
  }
}

@media only screen and (max-width: 399px) {
  .container {
    position: relative;
    // keep aspect of 480:680 -> 1:1.41666
    width: 100%;
    padding-top: 141.6666%;
  }
}

@media only screen and (max-width: 340px) {
  .container {
    position: relative;
    width: 340px;
    height: 481px;
  }
}

.border-art {
  position: absolute;
  z-index: 2;
}

