<ion-content>
    <ng-container *ngIf="cards$ | async as cards">
        <ng-container *ngIf="isQuizStarted == false">
            <ion-button size="fill" (click)="startQuiz()">START</ion-button>
        </ng-container>

        <ng-container *ngIf="isQuizStarted == true">
            <ng-container *ngIf="nextCard$ | async as nextCard">
                <img src="{{nextCard.imageUrl}}">

                <form [formGroup]="quizForm">

                    <pre>valid: {{quizForm.valid}}</pre>
                    <pre>cmc valid: {{quizForm.controls['cmc'].valid}}</pre>
                    <pre>color valid: {{quizForm.controls['color'].valid}}</pre>
                    <pre>type valid: {{quizForm.controls['type'].valid}}</pre>
                    <pre>rarity valid: {{quizForm.controls['rarity'].valid}}</pre>

                    <pre>{{quizForm.value | json}}</pre>

                    <ion-list-header>COLOR</ion-list-header>
                    <div class="color-segment">
                        <ion-button *ngFor="let c of color" [ngClass]="c"
                                    color="{{isOptionSelected(c, 'color') > -1 ? 'success' : 'light'}}" fill="outline"
                                    (click)="toggleOption(c, 'color')">
                            <img src="../../assets/icon/{{c}}.svg">
                        </ion-button>
                    </div>

                    <ion-list-header>CONVERTED MANA COST</ion-list-header>
                    <ion-segment class="cmc-segment" formControlName="cmc">
                        <ion-segment-button [value]="c" *ngFor="let c of cmc">
                            <ion-label>{{c}}</ion-label>
                        </ion-segment-button>
                    </ion-segment>

                    <ion-list-header>TYPE</ion-list-header>
                    <div class="type-segment">
                        <ion-button *ngFor="let t of type" [ngClass]="t"
                                    color="{{isOptionSelected(t, 'type') > -1 ? 'success' : 'light'}}" fill="outline"
                                    (click)="toggleOption(t, 'type')">{{t}}
                        </ion-button>
                    </div>

                    <ion-list-header>RARITY</ion-list-header>
                    <ion-segment class="rarity-segment" formControlName="rarity">
                        <ion-segment-button [value]="r" *ngFor="let r of rarity">
                            <ion-label>{{r}}</ion-label>
                        </ion-segment-button>
                    </ion-segment>

                    <ion-button type="button" size="fill" color="primary" (click)="validateFormValue(nextCard)">NEXT
                    </ion-button>
                </form>


            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>


