<ion-header>
    <ion-toolbar>
        <form [formGroup]="searchForm">
            <ion-item>
                <ion-label display="floating">Suche</ion-label>
                <ion-input id="name" formControlName="name" (keyup.enter)="triggerCardSearch()"></ion-input>
            </ion-item>
        </form>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="mtg-list" *ngIf="(cards$ | async).data as cards">
        <ng-container *ngFor="let card of cards">
            <div class="mtg-card-image" *ngIf="card.imageUrl">
                <img [src]="card.imageUrl">
            </div>
        </ng-container>
    </div>
</ion-content>
