<ion-label color="dark">Wie ist der Name dieser Karte?</ion-label>
<div class="answers">
    <ng-container *ngFor="let answer of answers">
        <ion-button [ngClass]="{'glow': answer.selected}"
                    (click)="selectAnswer(answer)"
                    type="button" fill="solid" expand="block" size="small"
                    [color]="showSolution && answer.correct ? 'success' : 'medium'"
                    [@changeState]="showSolution ? answer.state : defaultState">
            <ion-icon slot="start" name="arrow-dropright" *ngIf="answer.selected"></ion-icon>
            {{answer.value}}
            <ion-icon slot="end" name="arrow-dropleft" *ngIf="answer.selected"></ion-icon>
        </ion-button>
    </ng-container>
</div>
<ion-button size="block" (click)="validate()">OK</ion-button>




