<div class="answers">
    <ng-container *ngFor="let answer of answers">
        <ion-button [ngClass]="{'glow': answer.selected}"
                    (click)="answer.selected = !answer.selected"
                    type="button" fill="clear" expand="block"
                    [color]="showSolution && answer.correct ? 'success' : 'dark'"
                    [@changeState]="showSolution ? answer.state : defaultState">
            <ion-icon slot="start" name="checkmark-circle-outline" *ngIf="answer.selected"></ion-icon>
            <img src="../../assets/icon/{{answer.value}}.svg">
        </ion-button>
    </ng-container>
</div>
<ion-fab class="validate" vertical="bottom" horizontal="end" slot="fixed" *ngIf="showButton">
    <ion-fab-button color="primary" (click)="validate()">
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
</ion-fab>



