<p>Welche Farbe?</p>

<div class="colors">
    <ng-container *ngFor="let answer of answers">
        <ion-button *ngIf="answer.correct == true"
                    [ngClass]="isColorSelected(answer.color) ? answer.color + 'glow' : answer.color"
                    (click)="toggleColor(answer.color)"
                    [@fadeOutRightBig]="showSolution"
                    type="button" size="block" color="light">
            <img src="../../assets/icon/{{answer.color}}.svg">
        </ion-button>
        <ion-button *ngIf="answer.correct == false"
                    class="{{answer.color}}"
                    [ngClass]="isColorSelected(answer.color) ? ' glow' : ''"
                    (click)="toggleColor(answer.color)"
                    type="button" size="block" color="light">
            <img src="../../assets/icon/{{answer.color}}.svg">
        </ion-button>
    </ng-container>
</div>
<ion-button size="block" (click)="validate($event)">OK</ion-button>



