ion-button {
  margin-bottom: 12px;
}

img {
  width: 64px;
}

.colors .W.glow {
  box-shadow: 0px 0px 10px grey;
}

.colors .U.glow {
  box-shadow: 0px 0px 10px blue;
}

.colors .G.glow {
  box-shadow: 0px 0px 10px green;
}

.colors .B.glow {
  box-shadow: 0px 0px 10px black;
}

.colors .R.glow {
  box-shadow: 0px 0px 10px red;
}





