<p>Welcher Typ?</p>
<div class="answers">
    <ng-container *ngFor="let answer of answers">
        <ion-button *ngIf="answer.correct == true"
                    (click)="selectAnswer(answer)"
                    [ngClass]="{'glow': isAnswerSelected(answer)}"
                    type="button" size="block" color="light" fill="solid">
            {{answer.value}}
        </ion-button>
        <ion-button *ngIf="answer.correct == false"
                    (click)="selectAnswer(answer)"
                    class="hide"
                    [ngClass]="{'glow': isAnswerSelected(answer), 'hide': answer.hide}"
                    [@fadeOutRightBig]="showSolution"
                    (@fadeOutRightBig.done)="onAnimationEvent($event, answer)"
                    type="button" size="block" color="light" fill="solid">
            {{answer.value}}
        </ion-button>
    </ng-container>
</div>
<ion-button size="block" (click)="validate($event)">OK</ion-button>




