<ion-content *ngIf="true">
    <ion-button color="primary" expand="block" size="large" (click)="startQuiz('standard')">Standard</ion-button>
    <div class="record">
        <ion-text color="medium" *ngIf="record.standard == 0">
            Für den Spielmodus Standard ist noch kein Rekord gespeichert!
        </ion-text>
        <ion-text color="medium" *ngIf="record.standard > 0">
            Bisheriger Rekord {{record.standard}}
        </ion-text>
    </div>
    <br>
    <ion-button color="primary" expand="block" size="large" (click)="startQuiz('modern')">Modern</ion-button>
    <div class="record">
        <ion-text color="medium" *ngIf="record.standard == 0">
            Für den Spielmodus Modern ist noch kein Rekord gespeichert!
        </ion-text>
        <ion-text color="medium" *ngIf="record.standard > 0">
            Bisheriger Rekord {{record.standard}}
        </ion-text>
    </div>
</ion-content>
