ion-content {
  height: 400px;
  width: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%, -50%);
  transform: translate(-50%, -50%);
}

.record {
  margin-top: 12px;
  padding: 0px 12px;
}
